body {
	background-color: #34495e;
	color: #ecf0f1;
}
.container-jeu{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.carre {
    display: inline-block;
    width:200px;
    height:200px;
    background-color:#ccc;
    cursor:pointer;
}
a{
	color: #ccc !important;
	text-decoration: none !important;
}
a:hover{
	color: #bbb !important;
	text-decoration: underline !important;
}
  
 .bleu {
    background-color:#3498db;
 }
 .rouge {
    background-color:#d63031;
 }
 .vert {
    background-color:#16a085;
 }
 .jaune {
    background-color:#f6b93b;
 }

 .black {
    background-color: black !important;
 }

@media screen and (max-width: 450px) {
	.carre {
    	width: 45vw;
    	height: 45vw;
	}
}

